<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Saved Passwords</title>
</head>
<body>
     <!-- Global layout -->
         <!-- use _self attribute for the router to be activatedwithout refreshing the page -->

    <header>
        <h2>Password Manager - Saved Passwords</h2>
    </header>
    <section class="container">
        <div id="saved-passwords-list"></div>
    </section>
    
    <script src="../js/display_saved_local_str.js"></script>
</body>
</html>