<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Upload Passwords</title>
</head>
<body>
     <!-- Global layout -->
         <!-- use _self attribute for the router to be activatedwithout refreshing the page -->

    <header>
        <h2>Upload More Passwords</h2>
    </header>
    <section class="container">
        <form id="upload-form">
            <label for="file">JSON file</label>
            <input type="file" id="file" accept=".json">
            <button class="btn" id="uploadBtn">Upload (JSON)</button>
        </form>        
    </section>
    
    <script src="../js/upload.js" defer></script>
</body>
</html>